.doc-toc {
    word-wrap: break-word;
    background: #202020;
}

h1, h2, h3, h4, h5 {
    text-align: left;
}

a {
    color: #c0c0c0;
    text-decoration: none;
}

a:hover {
    color: white;
}

h1 {
    padding: 0.6em 0 0.6em 0.3em;
    font-size: 1.6em;
}

h2 {
    padding: 0.6em 0 0 0.4em;
    font-size: 1.3em;
    background-color: #282828;
}

h3 {
    padding: 0.1em 0 0 0.9em;
    margin-left: 1.0em;
    font-weight: normal;
    font-size: 1.1em;
    background-color: #303030;
}

h4, h5 {
    padding: 0 0 0 0.9em;
    margin-left: 2.5em;
    font-weight: normal;
    font-size: 1em;
    background-color: #383838;
}

